body {
	background:rgba(255,255,255,1);
    background:#fff;
}
#adwrapper {
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    background: #222;
    overflow: hidden;
    display:none;
}
#adwrapper a.boxclose {
    position: fixed;
    bottom:2px;
    right:2px;
    width: 32px;
    height: 0px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #AEAEAE;
    border-radius: 36px;
    background: #605F61;
    font-size: 36px;
    font-weight: bold;
    display: none;
    line-height: 0px;
    padding: 14px 6px;
    z-index: 50000;
    text-decoration: none;
}
#adwrapper .boxclose:before {
    content: "×";
    margin-left: -4px;
    line-height:.2;
    text-decoration: none;
}
nav.top-bar {
    z-index:99;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom:0px;
}
li.name {
    position:relative;
}
div#name1 {
    top:.5em;
    left:.5em;
    position:absolute;
    height:1.8em;
    width:18em;
}
div#name2 {
    top:.5em;
    left:.5em;
    position:absolute;
    height:1.8em;
    width:18em;
    opacity:0;
}
div#name2 h1 {
    font-size:1.8em;
    line-height:1;
    font-weight:300;
    color:#fff;
}
p.byline {
    text-align:center;
    font-size:.9em;
    margin-bottom:4em;
}
#logoimg {
    margin:.0;
    height:1.8em;
}
#logosmall {
    margin:0 2em 0 0;
    height:1.8em;
    display:inline-block;
    float:left;
}
.opener {
    background-position:50% 90%; 
    background-repeat:no-repeat; 
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-attachment:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
}
.opener1 {
    background-image:url('../img/part1main.jpg');
    margin:0 0 5em;
}
.opener2 {
    background-image:url('../img/part2main.jpg');
    height:101%;
    margin:10em 0 5em;
}
.opener3 {
    background-image:url('../img/part3main.jpg');
    height:101%;
    margin:10em 0 5em;
}
.opener .openercaption {
    position:absolute;
    top:100%;
    right:10%;  
}
.clear {
    width:100%;
    height:0;
    clear:both;
}
.top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
    background:#000;
}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
    border-right:solid 1px #353535;
}
.top-bar-section ul li.bottom a {
    padding:.5em .8em;
}
.top-bar-section ul li a {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    text-transform:none;
    font-weight:400;
    font-size:1em;
}
.top-bar-section ul li.top-top > a {
    text-transform:uppercase;
    font-size:.9em;
}
.top-bar-section ul li.social a {
    padding:0 .5em;
}
.top-bar-section ul li.social.firstsocial {
    padding-left:1em;
}
.top-bar-section ul li.social a:last-child {
    padding-right:1em;
}
.top-bar .toggle-topbar.menu-icon a span {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    color:#FFFFFF;
}
.opener {
    position:relative;
    padding:0;
    z-index:-2;
}
.opener div#title, .opener div.title-below {
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
    width:50%;
    height:100%;
}
div#title h1.title, div.title-below h1.title {
    width:100%;
    margin:18% 0 4%;
    font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
    font-weight:700;
    font-size:2.7em;
    letter-spacing:0px;
    line-height:1;
    text-transform:uppercase;
    text-align:right;
    color:#f0f0f5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    color:rgba(245,245,255,0.8);
    display:block;
}
div#title h2.subtitle, div.title-below h2.subtitle {
    width:100%;
    margin:0;
    font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
    font-size:2em;
    font-weight:300;
    line-height:1;
    text-transform:uppercase;
    text-align:right;
    color:#fafaff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    color:rgba(245,245,255,0.8);
    display:block;
}
div.title-below h2.subtitle {
    margin:25% 0 0!important;
    opacity:0;
}
* {
  	font-family:'Merriweather', Georgia, Times, 'Times New Roman', serif;
  	font-weight:400;
}
h1, h2, h3, h1 *, h2 *, h3 * {
  	font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif !important;
  	font-weight:700;
}
h1 * {
  	text-transform:uppercase;
}
p, .row li, .reveal-modal li {
  	color:#333;
    font-size:1.05em;
    line-height:1.9;
    margin-bottom:1.5em;
    list-style:circle inside;
}
#credits .row {
    margin-top:2em;
}
#credits .row .columns p {
    text-indent:0;
    margin-bottom:.05em;
}
#credits p strong a {
    color:#222;
    font-weight:700;
}
#credits p strong a:hover {
    color:SteelBlue;
}
#credits .row .columns p:first {
    margin-top:.1em;
}
.reverse h1 {
    background:#000;
    color:#fff;
    padding:.5em;
    width:100%;
    text-align:right;
    margin:.18em 0 0;
    letter-spacing:1px;
    font-size:2em;
}
.infobox p, .infobox li, .infobox#tohelp p a {
    font-family:'Open Sans', Helvetica, Arial, sans-serif !important;
    text-indent:0;
    line-height:1.6;
    margin-bottom:.4em;
}
.infobox#tohelp p {
    margin-bottom:.6em;
}
#tohelp h3 {
    padding-bottom: .5em;
}
.infobox ul {
    margin-bottom:.25em;
}
.infobox h2 {
    margin:0 0 .25em;
}
.infobox .bio-mug {
    float:right;
    width:8em;
    margin:.5em .5em 1em 1em;
}
div.small-6.sidemug {
    padding-left:0;
}
div.small-6.sidemug img {
    padding-top:1em;
}
div.mapwrap {
    position:relative;
    margin:0;
    overflow:hidden;
}
div.mapwrap > .mapheight {
    width:100%;
    height:0;
    padding-bottom:49%;
}
div.mapwrap > iframe {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:100%;
}
.insetmapwrap {
    position:relative;
    margin:1em 0;
    overflow:hidden;
}
.insetmapwrap > .insetmapheight {
    width:100%;
    height:0;
    padding-bottom:49%;
}
#anatomy.insetmapwrap > .insetmapheight {
    padding-bottom:80%;
}
.insetmapwrap > iframe {
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:100%;
}
.videopage .vidwrap {
    margin:1em 0;
}
.vidwrap {
    position:relative;
}
.vidwrap > .vidheight {
    width:100%;
    height:0;
    padding-bottom:56.25%;
}
.vidwrap > video, .vidheight > object, .BrightcoveExperience {
    position:absolute;
    top:0;
    left:0;
}
.reveal-modal .close-reveal-modal {
    font-size:1.375em;
    line-height:1;
    position:absolute;
    top:-0.7em;
    right:-0.6em;
    color:#eee;
    font-weight:bold;
    cursor:pointer;
    -webkit-border-radius:.7em;
    -moz-border-radius:.7em;
    border-radius:.7em;
    border:2px solid #eee;
    width:1.4em;
    height:1.4em;
    padding:.2em 0 0 .285em;
    background:#333;
}
h3.subheading {
    font-family:'Merriweather', Georgia, Times, serif;
    font-size:1.75em;
    font-weight:700;
    display:block;
    text-align:center;
    margin:2.5em auto 1.5em;
    padding:.5em 0;
    width:70%;
    border-bottom:1px solid rgba(0,0,0,.3);
}
p.lead {
  	font-size:1.15em;
  	line-height:1.7;
  	margin-bottom:1.25em;
  	font-weight:600;
}
p.small {
    font-size:.7em;
    line-height:1.6em;
    margin:0;
    font-weight:400;
}
a, a *, * a, a:visited, a:visited *, * a:visited {
    color:SteelBlue;
}

a:hover, * a:hover, a:hover * {
    color:IndianRed;
}
.photorow {
    margin:2em 0;
    padding:0;
    width:100%;
}
.twinphoto .photoleft {
    width:50%;
    float:left;
    padding-right:.75em;
    display:inline-block;
}
.twinphoto .photoright {
    width:50%;
    float:right;
    padding-left:.75em;
    display:inline-block;
}
.twinphoto .photoleft .caption {
    padding-left:1em;
}
.twinphoto .photoright .caption {
    padding-right:1em;
}
.centerphoto {
    width:100%;
    padding:0;
    margin:2em 0;
}
.row.photorow .row {
    margin-right:0;
}
.caption {
  	font-size:.9em;
    line-height:1.5;
    color:rgba(0,0,0,0.6);
    padding:.75em 0 0;
    margin:0;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:700;
    font-style:normal;
    cursor:default; 
    text-indent:0;
}
.caption span.captionhed {
    text-transform: uppercase;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-weight:800;
    padding-right:.5em;
}
.th {
    border:none;
}
.th:hover, .th:focus {
    box-shadow:0 0 6px 1px rgba(143,156,163,0.5);
}
.centergallery {
    width:100%;
    overflow:hidden;
    display:block;
    position:relative;
    margin: 0 0 4em;
}
.centergallery .columns {
    padding:0 1.5em;
}
.centergallery button span {
    font-family:Times, Georgia, serif !important;
    font-size:2em;
    margin:0 1em;
    display:block;
    color:rgba(20,20,20,.8);
    text-shadow:0px 0px 2px rgba(80,80,80,.5);
    transform:scale(1,4);
    -webkit-transform:scale(1,4);
    -moz-transform:scale(1,4);
    -ms-transform:scale(1,4);
    -o-transform:scale(1,4);
}
.centergallery button.slick-next {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:20%;
    text-align:left;
    background:rgba(255,255,255,.7);
}
.centergallery button.slick-prev {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:20%;
    text-align:right;
    background:rgba(255,255,255,.7);
}
a p.mugcap {
    color:SteelBlue;
}
a p.mugcap:hover {
    color:IndianRed;
}
p.caption.mugcap {
    font-size:.9em;
    font-family:'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight:300;
    line-height:1.6em;
    font-style:italic;
    letter-spacing:.75px;
    text-indent:0;
    margin-top:.2em;
    overflow:visible;
    cursor:pointer;
}
p.caption.mugcap:after {
    content:"";
    display:block;
    float:right;
    background:url('../img/more-info.png') transparent no-repeat;
    background-size:cover;
    height:1.2em;
    width:1.2em;
    margin-left:.3em;
    margin-top:.3em;
    overflow:visible;
    cursor:pointer;
}
a p.morephotos {
    color:SteelBlue;
}
a p.morephotos:hover {
    color:IndianRed;
}
p.morephotos {
    font-size:.9em;
    font-family:'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight:300;
    line-height:1.6em;
    text-transform:uppercase;
    letter-spacing:.75px;
    text-indent:.5em;
    margin-top:.2em;
    overflow:visible;
    cursor:pointer;
}
p.morephotos:before {
    content:"";
    display:block;
    float:left;
    background:url('../img/more-photos.png') transparent no-repeat;
    background-size:cover;
    height:1.2em;
    width:1.3em;
    margin-top:.2em;
    overflow:visible;
    cursor:pointer;
}
/* charts */
#thecharts {
    margin-bottom:3em;
}
#thecharts a {
    width:50%;
    text-align:center;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:1.3em;
    line-height:1;
    text-decoration: none!important;
    display:inline-block;
    float:left;
    margin:0;
    padding:.5em 0;
}
#thecharts a.livechart {
    background:#eee;
}
#high_chart_div_wrap, #large_chart_div_wrap {
    overflow-x: hidden; 
    overflow-y: hidden;     
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
}
#high_chart_div, #large_chart_div {
    overflow-x: hidden; 
    overflow-y: hidden;     
    width: 100%;
    height: 100%;
}
#chart_wrapper {
    width: 1000px;
    position: relative;
    display: block;
    overflow: hidden;
}
#chart_pad {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
}
/* video */
.vid-embed-wrap {
    width: 100%;
    position: relative;
    display: block;
    margin: 2em 0;
    overflow: hidden;
}
.vid-height-space {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.vid-embed {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image:url('../img/homeless-students-video-promo-2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
.play_icon {
    width: 12%;
    position: absolute;
    right: 5%;
    bottom: 5%;
    pointer-events: none;
}
blockquote {
	font-size:1.5em;
	line-height:1.4em;
    color:#222222;
    padding:.5em 0 0;
    margin:.5em 0 0;
    font-family:'Alegreya', Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
    font-style:normal;
    cursor:default; 
    text-indent:0;
    letter-spacing:1px;
    border:none;
}
blockquote:before {
    content:open-quote;
    left:-5px;
}	
blockquote:after {
    content:close-quote;
    right:-5px;
}
blockquote:before, blockquote:after {
    font-family:'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight:700;
    color:#547eb8;
    line-height:0em;
    font-size:2.7em;
    position:relative;
    top:.5em;
    opacity:.5;
}
div.attrib {
    margin-left:4em;
    font-family:'Merriweather', Helvetica, Arial, sans-serif !important;
    font-weight:400;
    font-size:1em;
    line-height:1.9em;
    font-style:italic;
    letter-spacing:1px;
    margin:.5em 0 1em;
    text-indent:0;
    text-align:right;
    padding-right:2em;
}
div.nextwrap {
    display:block;
    border-top:1px solid #ddd;
    margin-top:2em;
    opacity:0;
}
div#next-chapter {
    background-color:#FFFFFF;
    float:right;
    position:relative;
}
div#prev-chapter {
    background-color:#FFFFFF;
    float:left;
    position:relative;
}
div#next-chapter h2 {
    font-family:'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:1.6em;
    line-height:1em;
    color:#222222;
    letter-spacing:.02em;
    margin:0;
    padding:.75em 2.5em .75em 0;
    display:block;
    float:right;
}
div#prev-chapter h2 {
    font-family:'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:1.6em;
    line-height:1em;
    color:#222222;
    letter-spacing:.02em;
    margin:0;
    padding:.75em 0 .75em 2.5em;
    display:block;
    float:left;
}
div#next-chapter a, div#prev-chapter a {
    font-family:'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight:400;
    color:#222222;
}
div#next-chapter:after {
    width:0; 
    height:0;
    position:absolute;
    content:"";
    top:1.4em;
    right:1.5em;
    border-width:.6em 0 .6em 1.2em;
    border-style:solid;
    border-color:transparent #222;
}
div#prev-chapter:before {
    width:0; 
    height:0;
    position:absolute;
    content:"";
    top:1.4em;
    left:1.5em;
    border-width:.6em 1.2em .6em 0;
    border-style:solid;
    border-color:transparent #222;
}
div#footer-bar {
    background:black;
    color:white;
    padding:.6em 0 .6em 1.6em;
}
div#footer-bar ul.social {
    margin:0 auto;
    position:absolute;
    left:45%;
    top:.5em;
}
div#footer-bar ul.social li {
    padding:0 .5em;
    float:left;
    display:inline-block;
}
@media (max-width:940px) {
    #logoimg {
        height:1.3em;
    }
    #logosmall {
        height:1.4em;
        margin:0 1em 0 0;
    }
    div#name2 h1 {
        font-size:1.4em;
        line-height:1em;
        font-weight:300;
        color:#fff;
    }
    .opener {
        margin-bottom:1em;
    }
    .top-bar-section ul li.social a {
        padding:1em 40%;
    }
    .top-bar-section ul li.social {
        display: inline-block;
        float:left;
        width:25%;
    }
    .top-bar-section ul li.social.firstsocial {
        padding-left:0;
    }
    .photoblock-left, .photoblock-right {
        width:50%;
    }
    .opener div#title, .opener div.title-below {
        width:65%;
    }
    div#title h1.title, div.title-below h1.title {
        margin:20% 0 4%;
        font-size:2em;
    }
    div#title h2.subtitle, div.title-below h2.subtitle {
        margin:0;
        font-size:1.4em;
    }
    div.title-below h2.subtitle {
        margin:40% 0 0!important;
    }
    .infobox .bio-mug {
        width:6em;
    }
    p, .row li, .reveal-modal li {
        color:#333;
        font-size:.95em;
        line-height:2em;
        margin-bottom:1.25em;
    }
    p.lead {
        font-size:1em;
    }
    .photorow {
        margin-top:1em;
        margin-bottom:1em;
    }
    .photorow img {
        margin-bottom:.5em;
    }
    .vidwrap {
        margin-bottom:.5em;
    }
    div#footer-bar ul.social {
        display:none;
    }
    .reveal-modal a.close-reveal-modal {
        padding:.25em 0 0 .3em;
        top:.2em;
        right:.2em;
        line-height: 1;
    }
}
@media (max-width:540px) {
    .opener2, .opener3 {
        margin:5em 0 2.5em;
    }
    h3.subheading {
        font-size:1.3em;
        margin:2.5em auto 1.5em;
    }.twinphoto .photoleft {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoright {
        width:100%;
        float:none;
        padding:0 .75em;
        display:block;
    }
    .twinphoto .photoleft .caption {
        padding:0;
        margin-bottom:2em;
    }
    .twinphoto .photoright .caption {
        padding:0;
    }
    .caption {
        font-size:.5em;
        line-height:1.3;
    }
    .centergallery button span {
        font-size:1.25em;
        margin:0 .5em;
        text-shadow:none;
        transform:scale(1,3);
        -webkit-transform:scale(1,3);
        -moz-transform:scale(1,3);
        -ms-transform:scale(1,3);
        -o-transform:scale(1,3);
    }
    .centergallery .columns {
        padding:0 0.5em;
    }
    .centergallery button.slick-next {
        padding:0;
        width:8%;
    }
    .centergallery button.slick-prev {
        padding:0;
        width:8%;
    }
    div#title h1.title, div.title-below h1.title {
        margin:30% 0 8%;
}
@media (max-width:540px) and (orientation:landscape) {
    .opener div#title, .opener div.title-below {
        width:65%;
    }
    div#title h1.title, div.title-below h1.title {
        margin:20% 0 4%;
        font-size:2em;
    }
    div#title h2.subtitle, div.title-below h2.subtitle {
        margin:0;
        font-size:1.4em;
    }
    .infobox .bio-mug {
        width:6em;
    }
    .infobox p {
        line-height:1.5;
    }
}