html, body {
    height:100%;
    width: 100%;
}
body {
	background: rgba(255,255,255,1);
    background: #fff;
}
nav.top-bar {
    z-index: 99;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}
li.name {
    position: relative;
}
div#name1 {
    top:.5em;
    left:.5em;
    position: absolute;
    height: 1.8em;
    width:18em;
}
div#name2 {
    top:.5em;
    left:.5em;
    position: absolute;
    height: 1.8em;
    width:18em;
    opacity: 0;
}
div#name2 h1 {
    font-size:1.8em;
    line-height: 1em;
    font-weight:300;
    color:#fff;
}
p.byline {
    text-indent:0;
    font-size:.9em;
    margin-bottom:4em;
}
#logoimg {
    margin:.0;
    height:1.8em;
}
#logosmall {
    margin:0 2em 0 0;
    height:1.8em;
    display: inline-block;
    float:left;
}
.opener {
    background-position:50% 90%; 
    background-repeat:no-repeat; 
    background-size: cover;
    height:90%;
    width:100%;
    margin: 0;
    overflow: hidden;
    margin-bottom:2em;
    opacity: 0;
}
.opener1 {
    background-image: url('../img/el-reno-tornado-world-herald.jpg');
}
.opener2 {
    background-image: url('../img/storm-coming-blue.jpg');
}
.opener3 {
    background-image: url('../img/paul-samaras-storm-chasing.jpg');
}
.opener4 {
    background-image: url('../img/chevy-cobalt-tornado.jpg');
}
.opener5 {
    background-image: url('../img/el-reno-tornado-reuter-road.jpg');
}
.opener6 {
    background-image: url('../img/tim-samaras-memorial.jpg');
}
.opener7 {
    background-image: url('../img/storm-chaser-silhouette.jpg');
}
.opener .openercaption {
    position:absolute;
    top:100%;
    right:10%;  
}
.clear {
    width:100%;
    height:0;
    clear:both;
}
.top-bar-section ul {
    background: black;
}
.top-bar-section ul li.bottom a {
    padding:.5em .8em;
}
.top-bar-section ul li a {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    text-transform: none;
    font-weight:400;
    font-size:1em;
}
.top-bar-section ul li.top-top > a {
    text-transform:uppercase;
    font-size:.9em;
}
.top-bar-section ul li.social a {
    padding:0 .5em;
}
.top-bar-section ul li.social.firstsocial {
    padding-left:1em;
}
.top-bar-section ul li.social a:last-child {
    padding-right:1em;
}
.top-bar .toggle-topbar.menu-icon a span {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    color: #FFFFFF;
}
h2.title {
    font-size: 5em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing:1px;
    color: #f5f5ff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    color: rgba(245,245,255,0.8);
    margin:0;
    height:0;
}
h3.titlespan {
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif !important;
    font-weight: 300;
    font-size: 3em;
    line-height: 1em;
    text-transform:none;
    letter-spacing:1px;
    color: #f5f5ff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    color: rgba(245,245,255,0.8);
    margin:0;
    height:0;
}
.opener div.title {
    width:100%;
    height:100%;
    position: relative;
}
div.title #title1, div.title #title3, div.title #title4, div.title #title5, div.title #title6 {
    height:50%;
}
div#title1 {
    width:100%;
    left:50%;
    text-align: center;
    margin: 0 auto;
    position:relative;
    overflow:visible;
}
div#title3 {
    width:100%;
    left:40%;
    text-align: center;
    margin: 0 auto;
    position:relative;
    overflow:visible;
}
div#title4 {
    width:100%;
    left:20%;
    text-align: center;
    margin: 0 auto;
    position:relative;
    overflow:visible;
}
div#title5 {
    width:100%;
    left:60%;
    text-align: center;
    margin: 0 auto;
    position:relative;
    overflow:visible;
}
div#title6 {
    width:100%;
    left:25%;
    text-align: center;
    margin: 0 auto;
    position:relative;
    overflow:visible;
}
div#title1 h3.titlespan, div#title3 h3.titlespan, div#title4 h3.titlespan, div#title5 h3.titlespan, div#title6 h3.titlespan {
    top:54%;
    position: absolute;
    left:1.5em;
}
div#title1 h2.title, div#title3 h2.title, div#title4 h2.title, div#title5 h2.title, div#title6 h2.title {
    top:28%;
    position: absolute;
    left:-3em;
}
* {
  	font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
  	font-weight: 400;
}
h1, h2, h3, h1 *, h2 *, h3 * {
  	font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
  	font-weight: 700;
}
h1 * {
  	text-transform: uppercase;
}
p {
    text-indent:2.5em;
}
p, .row li, .reveal-modal li {
  	color: #333;
    font-size:1.05em;
    line-height:2em;
    margin-bottom:.15em;
    list-style:circle inside;
}
#credits .row {
    margin-top:2em;
}
#credits .row .columns p {
    text-indent: 0;
    margin-bottom: .05em;
}
#credits p strong a {
    color:#222;
    font-weight:700;
}
#credits p strong a:hover {
    color:SteelBlue;
}
#credits .row .columns p:first {
    margin-top:.1em;
}
.reverse h1 {
    background:#000;
    color:#fff;
    padding:.5em;
    width:100%;
    text-align: right;
    margin:.18em 0 0;
    letter-spacing: 1px;
}
.infobox p, .infobox li {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    text-indent: 0;
    line-height:1.6em;
    margin-bottom:.4em;
}
.infoxbox ul {
    margin-bottom:.25em;
}
.infobox h2 {
    margin:0 0 .25em;
}
.infobox .bio-mug {
    float:right;
    width:8em;
    margin:.5em .5em 1em 1em;
}
div.small-6.sidemug {
    padding-left:0;
}
div.small-6.sidemug img {
    padding-top:1em;
}
div.mapwrap {
    position: relative;
    margin:0;
    overflow:hidden;
}
div.mapwrap > .mapheight {
    width:100%;
    height:0;
    padding-bottom:49%;
}
div.mapwrap > iframe {
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:100%;
}
.insetmapwrap {
    position: relative;
    margin:1em 0;
    overflow:hidden;
}
.insetmapwrap > .insetmapheight {
    width:100%;
    height:0;
    padding-bottom:49%;
}
#anatomy.insetmapwrap > .insetmapheight {
    padding-bottom:80%;
}
.insetmapwrap > iframe {
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:100%;
}
.videopage .vidwrap {
    margin:1em 0;
}
.vidwrap {
    position: relative;
}
.vidwrap > .vidheight {
    width:100%;
    height:0;
    padding-bottom:56.25%;
}
.vidwrap > video, .vidheight > object, .BrightcoveExperience {
    position: absolute;
    top:0;
    left:0;
}
.reveal-modal .close-reveal-modal {
    font-size: 1.375em;
    line-height: 1;
    position: absolute;
    top: -0.7em;
    right: -0.6em;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    border-radius: .7em;
    border: 2px solid #eee;
    width: 1.4em;
    height: 1.4em;
    padding: .2em 0 0 .25em;
    background: #333;
}
p.lead {
  	font-size: 1.4em;
  	line-height: 1.6em;
  	margin-bottom: 1em;
  	font-weight: 700;
    text-indent:0;
}
p.lead.later {
    margin-top:2em;
    padding-top:2em;
    border-top:1px solid #ddd;
}
p.small {
    font-size: .7em;
    line-height: 1.6em;
    margin:0;
    font-weight: 400;
    text-indent:0;
}
.carousel-caption p {
    text-indent: 0;
    opacity: 1;
}
a, a *, * a, a:visited, a:visited *, * a:visited {
    color: SteelBlue;
}

a:hover, * a:hover, a:hover * {
    color:IndianRed;
}
.photorow {
    margin-top: 2em;
    margin-bottom: 2em;
}
.caption {
  	font-size: 1em;
    line-height:1.8em;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-style: normal;
    cursor: default; 
    text-indent:0;
    margin-bottom:1em;
}
a p.mugcap {
    color:SteelBlue;
}
a p.mugcap:hover {
    color:IndianRed;
}
p.caption.mugcap {
    font-size:.9em;
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height:1.6em;
    font-style: italic;
    letter-spacing:.75px;
    text-indent:0;
    margin-top:.2em;
    overflow:visible;
    cursor: pointer;
}
p.caption.mugcap:after {
    content:"";
    display:block;
    float:right;
    background:url('../img/more-info.png') transparent no-repeat;
    background-size: cover;
    height:1.2em;
    width: 1.2em;
    margin-left: .3em;
    margin-top: .3em;
    overflow: visible;
    cursor: pointer;
}
a p.morephotos {
    color:SteelBlue;
}
a p.morephotos:hover {
    color:IndianRed;
}
p.morephotos {
    font-size:.9em;
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    line-height:1.6em;
    text-transform:uppercase;
    letter-spacing:.75px;
    text-indent:.5em;
    margin-top:.2em;
    overflow:visible;
    cursor: pointer;
}
p.morephotos:before {
    content:"";
    display:block;
    float:left;
    background:url('../img/more-photos.png') transparent no-repeat;
    background-size: cover;
    height:1.2em;
    width: 1.3em;
    margin-top: .2em;
    overflow: visible;
    cursor: pointer;
}
.caption span.photocred {
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size:.9em;
    line-height:1.8em;
    font-style: italic;
    letter-spacing:.75px;
    position: relative;
    cursor: default; 
    text-indent:0;
    clear:left;
}

blockquote {
	font-size: 1.5em;
	line-height: 1.4em;
    color: #222222;
    padding: .5em 0 0;
    margin: .5em 0 0;
    font-family: 'Alegreya', Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-style: normal;
    cursor: default; 
    text-indent:0;
    letter-spacing:1px;
    border:none;
}

blockquote:before {
    content: open-quote;
    left:-5px;
}	

blockquote:after {
    content: close-quote;
    right: -5px;
}

blockquote:before, blockquote:after {
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #547eb8;
    line-height: 0em;
    font-size: 2.7em;
    position: relative;
    top:.5em;
    opacity: .5;
}

div.attrib {
    margin-left:4em;
    font-family: 'Merriweather', Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size:1em;
    line-height:1.9em;
    font-style: italic;
    letter-spacing:1px;
    margin:.5em 0 1em;
    text-indent: 0;
    text-align: right;
    padding-right: 2em;
}

.reveal-modal {
    position:fixed;
}
.people-modal {
    width:50%;
    margin-left:0;
    left:30%;
    top:15%;
}
.slides-modal {
    width:50%;
    margin-left:0;
    left:25%;
    top:10%;
}
div.nextwrap {
    display:block;
    border-top:1px solid #ddd;
    margin-top: 2em;
    opacity: 0;
}
div#next-chapter {
    background-color: #FFFFFF;
    float:right;
    position: relative;
}
div#prev-chapter {
    background-color: #FFFFFF;
    float:left;
    position: relative;
}
div#next-chapter h2 {
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:1.6em;
    line-height:1em;
    color:#222222;
    letter-spacing: .02em;
    margin: 0;
    padding: .75em 2.5em .75em 0;
    display: block;
    float:right;
}
div#prev-chapter h2 {
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:1.6em;
    line-height:1em;
    color:#222222;
    letter-spacing: .02em;
    margin: 0;
    padding: .75em 0 .75em 2.5em;
    display: block;
    float:left;
}
div#next-chapter a, div#prev-chapter a {
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color:#222222;
}
div#next-chapter:after {
    width: 0; 
    height: 0;
    position:absolute;
    content:"";
    top:1.4em;
    right:1.5em;
    border-width:.6em 0 .6em 1.2em;
    border-style: solid;
    border-color: transparent #222;
}
div#prev-chapter:before {
    width: 0; 
    height: 0;
    position:absolute;
    content:"";
    top:1.4em;
    left:1.5em;
    border-width:.6em 1.2em .6em 0;
    border-style: solid;
    border-color: transparent #222;
}
div#footer-bar {
    background: black;
    color: white;
    padding: .6em 0 .6em 1.6em;
}
div#footer-bar ul.social {
    margin:0 auto;
    position: absolute;
    left:45%;
    top:.5em;
}
div#footer-bar ul.social li {
    padding:0 .5em;
    float:left;
    display: inline-block;
}
@media (orientation:portrait) {
    div#title1 h2.title, div#title3 h2.title, div#title4 h2.title, div#title5 h2.title, div#title6 h2.title {
        top:42%;
    }
}
@media (max-width:940px) {
    #logoimg {
        height:1.3em;
    }
    #logosmall {
        height: 1.4em;
        margin: 0 1em 0 0;
    }
    div#name2 h1 {
        font-size:1.4em;
        line-height: 1em;
        font-weight:300;
        color:#fff;
    }
    .opener {
        margin-bottom: 1em;
    }
    .top-bar-section ul li.social a {
        padding:1em 40%;
    }
    .top-bar-section ul li.social {
        display: inline-block;
        float:left;
        width:25%;
    }
    .top-bar-section ul li.social.firstsocial {
        padding-left:0;
    }
    h3.titlespan {
        font-size: 1.5em;
    }
    h2.title {
        font-size: 2.3em;
    }
    div#title1 h3.titlespan, div#title3 h3.titlespan, div#title4 h3.titlespan, div#title5 h3.titlespan, div#title6 h3.titlespan {
        left:1.6em;
    }
    div#title1 h2.title, div#title3 h2.title, div#title5 h2.title {
        left:-2.8em;
    }
    div#title4 h2.title, div#title6 h2.title  {
        left:-1.7em;
    }
    .infobox .bio-mug {
        width:6em;
    }
    p {
        text-indent:2em;
    }
    p, .row li, .reveal-modal li {
        color: #333;
        font-size:.8em;
        line-height:2em;
        margin-bottom:.25em;
    }
    p.lead {
        font-size: 1em;
        line-height: 1.7em;
        margin-bottom: 1em;
        font-weight: 700;
        text-indent:0;
    }
    .photorow {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .photorow img {
        margin-bottom:.5em;
    }
    .vidwrap {
        margin-bottom:.5em;
    }
    .caption {
        text-indent: 0;
        font-size: .7em;
        line-height:1.8em;
        font-weight:700;
    }
    .people-modal {
        width:90%;
        margin-left:0;
        left:5%;
        top:5%;
    }
    .slides-modal {
        width:90%;
        margin-left:0;
        left:5%;
        top:5%;
    }
    div#footer-bar ul.social {
        display:none;
    }
    .reveal-modal .close-reveal-modal {
        padding: .25em 0 0 .3em;
    }
}
@media (max-width:540px) and (orientation:landscape) {
    h3.titlespan {
        font-size: 1.3em;
    }
    h2.title {
        font-size: 2em;
    }
    div.title #title1, div.title #title3, div.title #title4, div.title #title5, div.title #title6 {
        height:100%;
    }
    div#title1 h3.titlespan, div#title3 h3.titlespan, div#title4 h3.titlespan, div#title5 h3.titlespan, div#title6 h3.titlespan {
        top:60%;
    }
    div#title1 h2.title, div#title3 h2.title, div#title4 h2.title, div#title5 h2.title, div#title6 h2.title {
        top:33%;
    }
    .infobox .bio-mug {
        width:6em;
    }
    .infoxbox p {
        line-height: 1.5em;
    }
}